In [1]:
import numpy as np
import pandas as pd
import category_encoders as ce
import sys, os
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from file_handler import FileHandler
from df_selector import *
from df_cleaner import *
from df_visualizer import *

In [3]:
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 50)

# Reading Data

In [4]:
file_handler = FileHandler()

In [8]:
# reading the csv file
df = file_handler.read_csv("../data/BrentOilHistoricalData.csv")
df.head(10)

         Date   Price    Open    High     Low     Vol. Change %
0  03/19/2008  100.72  104.93  105.10  100.16  144.15K   -4.59%
1  03/18/2008  105.56  102.31  106.18  101.70  132.09K    3.74%
2  03/17/2008  101.75  106.00  107.97   99.50  165.41K   -5.39%
3  03/14/2008  107.55  106.64  108.02  106.24   28.28K    0.01%
4  03/13/2008  107.54  106.31  107.88  105.56   71.56K    1.20%
5  03/12/2008  106.27  105.43  106.45  104.00   80.91K    0.97%
6  03/11/2008  105.25  104.21  105.82  103.30  104.60K    1.05%
7  03/10/2008  104.16  102.30  104.45  101.20  105.13K    1.74%
8  03/07/2008  102.38  102.69  103.98  101.36  117.16K   -0.22%
9  03/06/2008  102.61  101.67  102.95  100.28  120.77K    0.95%

In [9]:
# reading the csv file
brent_df = file_handler.read_csv("../data/BrentOilPrices.csv")
brent_df.head(10)

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63
5  27-May-87  18.60
6  28-May-87  18.60
7  29-May-87  18.58
8  01-Jun-87  18.65
9  02-Jun-87  18.68

# General statistics

In [10]:
# number of elements in the df
df.size

34993

In [11]:
df.shape

(4999, 7)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4999 non-null   object
 1   Price     4999 non-null   float64
 2   Open      4999 non-null   float64
 3   High      4999 non-null   float64
 4   Low       4999 non-null   float64
 5   Vol.      4996 non-null   object
 6   Change %  4999 non-null   object
dtypes: float64(4), object(3)
memory usage: 273.5+ KB

# Missing Values

In [13]:
percent_missing_values(df)

The dataset contains 0.01 % missing values.

In [14]:
missing_df = missing_values_table(df)

Your selected dataframe has 7 columns.
There are 1 columns that have missing values.

In [15]:
missing_df

      Missing Values  % of Total Values   Dtype
Vol.               3               0.06  object

In [16]:
# number of rows with missing values for the whole dataset
count_missing_rows(df)

3 rows(0.06%) contain atleast one missing value.

In [17]:
# dataframe containing the missing rows for columns in group 1
miss_df = df[df['Vol.'].isna()]
miss_df.head(10)

            Date  Price   Open   High    Low Vol. Change %
2939  08/16/1996  20.53  19.98  20.60  19.87  NaN   -0.19%
4527  05/08/1990  16.70  16.70  17.00  16.70  NaN    2.27%
4996  06/29/1988  15.47  15.47  15.47  15.47  NaN    1.31%